<h2>Register</h2>
<form method="post">
Username:<input type="text" name="username"/><br><br>
Password:<input type="text" name="password"/><br><br>
Address:<input type="text" name="address"/><br><br>
<button>Register</button>
</form>